html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, p, ul, ol, dl, li, img, video, figure, figcaption, blockquote, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eceee9;
}

main {
  max-width: 1100px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 50px;
  background-image: url(../img/flux-card-blank.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  border: 1px solid blue;
}

.rtpb-bg {
  max-width: 80%;
  margin: 0 auto;
}
