html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, p, ul, ol, dl, li, img, video, figure, figcaption, blockquote, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #eceee9, transparent),
              linear-gradient(to left, #e5e7e2, transparent),
              linear-gradient(to bottom, #eaece7, transparent),
              linear-gradient(to top, #eff1ec, transparent);
}


.fluxcard {
  /*max-width: 1100px;
  min-height: 80vmin;*/
  /*height: 58.76vmin;
  width: 80vmin;*/
  height: 80vmin;
  width: 108.91763104152486vmin;
  margin: 0 auto;
  padding-top: 20.5vmin; /* 26.4125255% of height */
  padding-left: 18.2vmin; /* 17% of width */
  padding-right: 18.515997277vmin; /* 17% of width */
  background-image: url(../img/flux-card-blank.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  color: #35302c;
  text-shadow: 0px 0px 0.5px #35302c;
}

.fluxcard h1 {
  font-size: 4vmin; /* 3.376446562vmin; 4.2205582% of height */
  margin-bottom: 9vmin; /* 12.6616746% of height */
  text-transform: uppercase;
  transform: rotate(0.5deg);
}

.fluxcard p,
.fluxcard ul {
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 500;
}

.fluxcard p {
  margin-bottom: 4.683458135vmin; /* 5.8543227% of height*/
  transform: rotate(1.2deg);
}

.fluxcard ul {
  padding-left: 9vmin; /* 8.9% of width */
  list-style: none;
}

.fluxcard li {
  margin-bottom: 4.5vmin; /* 6.6712049% of height */
  transform: rotate(1.1deg);
}

.fluxcard li:before {
  content: "•";
  font-size: 300%;
  vertical-align: middle;
  line-height: 0.3333333333;
  margin-right: 4vmin; /* 3.7% of width */
}

.fluxcard li:nth-of-type(n+4) {
  text-shadow: none;
  transform: rotate(0deg);
}

.fluxcard li:nth-of-type(n+4) a {
  color: blue;
}

@media screen and (orientation: portrait), screen and (orientation: landscape) and (max-aspect-ratio: 500/448) {
  .fluxcard {
    width: 97vmin;
    height: 71.2465vmin;
    padding-top: 18.256915625vmin; /* 26.4125255% of height */
    padding-left: 16.20857875vmin; /* 17% of width */
    padding-right: 16.20857875vmin; /* 17% of width */
  }

  .fluxcard h1 {
    font-size: 3.562325vmin; /* 3.376446562vmin; 4.2205582% of height */
    margin-bottom: 8.01523125vmin; /* 12.6616746% of height */
  }

  .fluxcard p,
  .fluxcard ul {
    font-size: 3.562325vmin;
  }

  .fluxcard p {
    margin-bottom: 4.171vmin; /* 5.8543227% of height*/
  }

  .fluxcard ul {
    padding-left: 8.01523125vmin; /* 8.9% of width */
  }

  .fluxcard li {
    margin-bottom: 4.007615625vmin; /* 6.6712049% of height */
  }

  .fluxcard li:before {
    margin-right: 3.562325vmin; /* 3.7% of width */
  }
}
